.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rowWrapper {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
