@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/roboto-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/roboto-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  