.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.background {
  border-radius: 40px;
  padding: 40px;
  width: 100%;
}

.green {
  background-color: var(--color-accent-secondary);
}

.pink {
  background-color: var(--color-accent-primary);
}

.error {
  border: solid 1px var(--color-orange);
}

.ready {
  background-color: transparent;
  border: solid 1px #201b10;
}

.text {
  font-size: 30px;
}
