.link {
  font-size: 30px;
  color: var(--color-black);
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.active {
  padding-bottom: 4px;
  border-bottom: solid 2px black;
}

.icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 1500px) {
  .link {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .link {
    font-size: 18px;
  }
}
